<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j. 
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
        </Console>
        <!-- location of file where the log file is to be placed-->
        <File name="File" fileName="C:\Users\shahr\eclipse-workspace\TestAutomationFramework\src\test\resources\logs\logInfo.log" append="true">
            <!-- Log pattern looks something like; 16:32:35.416 [main] INFO  - Chrome browser launched successfully-->
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="base" level="info" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- you can change the log level according to your need-->
        <Root level="info">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>